<header>
  <app-navbar></app-navbar>
</header>

<div class="feature-container" style="background-color: aquamarine;">
  <app-landing></app-landing>
</div>

<div class="feature-container" style="background-color: rosybrown;">
  <app-about></app-about>
</div>

<div class="feature-container" style="background-color: lavenderblush;">
  <app-skills></app-skills>
</div>

<div class="feature-container" style="background-color: yellowgreen;">
  <app-projects></app-projects>
</div>

<div class="feature-container" style="background-color:cyan;">
  <app-contacts></app-contacts>
</div>

<footer>
  <app-footer></app-footer>
</footer>
